<div *ngIf="isLoading" class="loading">Loading...</div>

<div *ngIf="!isLoading" class="table-container">
  <!-- Only using table element here for semantics -->
  <table>
    <caption>Angular Table App</caption>

    <div class="scrollable">
      <thead>
        <tr>
          <th *ngFor="let col of columns">{{ col }}</th>
        </tr>
      </thead>

      <tbody>
        <!-- For each row... -->
        <tr *ngFor="let row of paginatedRowData">
          <!-- ...list the values for each column -->
          <td *ngFor="let col of columns" class="row-data">
            <div *ngIf="col !== 'button'">{{ row[col] }}</div>
            <div *ngIf="col === 'button'"><button class="row-btn" (click)="postIdAndStatus(row[col])">POST</button></div>
          </td>
        </tr>
      </tbody>
    </div>

    <tfoot>
      <tr>
        <th>
          <app-pagination
            (goToPage)="goToPage($event)"
            (previousPage)="goToPrevPage()"
            (nextPage)="goToNextPage()"
            (rowsPerPageChange)="rowsPerPage = $event; paginateData()"
            [currentPage]="currentPage"
            [totalRowCount]="totalRowCount"
            [rowsPerPage]="rowsPerPage"
            [pagesToShow]="pagesToShow"
            [isLoading]="isLoading"></app-pagination>
        </th>
      </tr>
    </tfoot>
  </table>
</div>
