/* The table should be somewhat responsive */
.loading {
  position: absolute;
  width: 100px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-left: -50px; /* margin is -0.5 * dimension */
  margin-top: -25px;
  color: #999;
  text-align: center;
}

.table-container {
  width: 92vw;
  min-height: 40vh;
  max-height: 97vh;
  margin: auto;
  display: flex;
}

table {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 30px auto;
  overflow: hidden;
  border-collapse: collapse;
  border: 1px solid #eee;
  box-shadow: 0px 0px 20px rgb(0,0,0,0.10),
  0px 10px 20px rgb(0,0,0,0.05),
  0px 20px 20px rgb(0,0,0,0.05),
  0px 30px 20px rgb(0,0,0,0.05);
}

table caption {
  padding: 0.5em 0px;
}

th, td {
  color: #999;
  font-size: 12px;
  border: 1px solid #eee;
  padding: 10px 25px;
  border-collapse: collapse;
}

thead th {
  border-bottom: 2px solid hsl(263, 100%, 40%);
  text-transform: uppercase;
}

thead,
tbody,
tfoot {
  display: flex;
  flex-direction: column;
}

.scrollable {
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: auto;
}

/* Fixed header at the "top" of the table */
.scrollable thead {
  position: sticky;
  top: 0;
}

.scrollable thead tr,
.scrollable tbody tr {
  flex: 1;
  display: flex;
}

.scrollable thead tr th,
.scrollable tbody tr td {
  flex: 1 0 auto;
  width: 150px;
  background-color: white; /* transparent background without this */

  /* technically the same, but we'll use both anyway */
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.scrollable tbody tr:hover td {
  color: #555;
}

tfoot tr,
tfoot tr th {
  flex: 1 0 auto;
  justify-content: center;
  display: flex;
}

tfoot app-pagination {
  flex: 1 0 auto;
}

.row-btn {
  padding: 5px;
  color: #999;
  font-size: 12px;
  border: 1px solid #eee;
  border-radius: 3px;
  text-decoration: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.row-btn:hover {
  color: #555;
}

.row-btn:active {
  color: white;
  background-color: hsl(263, 100%, 40%);
}
